.results-container {
  display: grid;
  gap: 3em;
  border-left: 7px solid var(--color-secondary-light);
  color: var(--txt-color-primary);
  width: 100%;
  max-width: 500px;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.result-location {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.result-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.temp {
  font-size: 3rem;
  margin-top: 0.2em;
  line-height: 1;
  padding: 0.2em;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .weather-results {
    padding: 2em;
  }
}
