.cb-container {
  width: 100%;
  max-width: 500px;
}

.cb-label {
  text-align: left;
}

.cb-input-container {
  flex-flow: column;
  margin: 0.5em 0;
}

.cb-input {
  flex-grow: 1;
  padding: 0.7em;
  border-radius: var(--radius-normal) var(--radius-normal) 0 0;
  border: none;
}

.cb-btn {
  font-weight: bold;
  background: var(--color-primary);
  color: var(--txt-color-primary);
  border-radius: 0 0 var(--radius-normal) var(--radius-normal);
  padding: 0.7em 1em;
  width: 100%;
}

.cb-btn:hover {
  opacity: 0.9;
}

@media (min-width: 500px) {
  .cb-input-container {
    flex-flow: row;
  }
  .cb-input {
    border-radius: var(--radius-normal) 0 0 var(--radius-normal);
  }
  .cb-input-container > button {
    width: unset;
    border-radius: 0 var(--radius-normal) var(--radius-normal) 0;
  }
}
