.suggestions {
  padding: 0;
  list-style: none;
}

.suggestion {
  color: var(--color-primary);
  padding: 1em;
  cursor: pointer;
  transition: all 0.3s;
  background: var(--txt-color-primary);
  text-align: left;
  letter-spacing: 1px;
}

.suggestion:hover {
  opacity: 0.9;
}

.suggestion-span {
  pointer-events: none;
}
