.search-form {
  display: grid;
  width: 100%;
  max-width: 500px;
}

.city-search {
  margin: 0.2em 0 1em 0;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: var(--radius-normal);
  border: none;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

@media (min-width: 700px) {
  .btn--primary {
    justify-self: flex-start;
  }
}
