.search-container {
  width: 100%;
  max-width: 500px;
}

.search-form {
  display: grid;
}

.search-input {
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: var(--radius-normal);
  border: none;
}