:root {
  --font-primary: "Inria Sans", sans-serif;
  --txt-color-primary: #fdfdfd;
  --radius-normal: 4px;
  --color-primary: #0b486b;
  --color-secondary: #f56217;
}

* {
  margin: 0;
}

html {
  font-size: 18px;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--txt-color-primary);
  background: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-primary)
  );
  text-align: center;
}

body,
button,
input,
textarea {
  font-family: var(--font-primary);
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
}

p {
  line-height: 1.4;
}
