:root {
  --font-primary: "Inria Sans", sans-serif;
  --txt-color-primary: #fdfdfd;
  --txt-color-secondary: #111212;
  --txt-color-error: #8a0c0c;
  --radius-normal: 4px;
  --color-primary: #0b486b;
  --color-secondary: #f56217;
  --color-secondary-light: #f7a47b;
  --color-error: #fc8f8f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--txt-color-primary);
  background: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-primary)
  );
  text-align: center;
}

body,
button,
input {
  font-family: var(--font-primary);
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
}

p {
  line-height: 1.4;
}

/* Utility  */
.txt--sm {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.error {
  background: var(--color-error);
  color: var(--txt-color-error);
  padding: 0.7em;
  border-radius: var(--radius-normal);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
